body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
}
header, footer {
    background-color: olivedrab;
}
.site-title {
    color: cornsilk;
}
#my-image {
    box-shadow: 0 0 2px 1px black;
}
.hobbies {
    list-style: square;
}
.hobbies :nth-child(odd) {
    background-color: cornsilk;
}
nav ul {
    list-style: none;
}
nav a {
    text-decoration: none;
    background-color: cornsilk;
    border: 5px ;
}
nav a:hover {
    background-color: chartreuse;
}